.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $second-text-color;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
