.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.customers__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.customers__list {
  display: flex;
  justify-content: center;
}

.customers__item {
  width: 170px;
  height: 92px;
  &:not(:last-child) {
    margin-right: $indent;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid $social-media-color;
  color: $social-media-color;
  @include transition(color, border-color);
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.customer__icon {
  fill: currentColor;
}
