.customers {
  @extend %section;
}

.customers__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers__item {
  height: 92px;

  @media screen and (max-width: 767px) {
    @include widthItem(2);
    &:nth-child(odd) {
      margin-right: $indent;
    }
    &:nth-child(-n + 4) {
      margin-bottom: $indent;
    }
  }

  @media screen and (min-width: 768px) {
    @include widthItem(3);
    &:not(:nth-child(3n)) {
      margin-right: $indent;
    }
  }

  @media screen and (max-width: 1199px) {
    &:nth-child(-n + 3) {
      margin-bottom: $indent;
    }
  }

  @media screen and (min-width: 1200px) {
    @include widthItem(6);
    &:not(:last-child) {
      margin-right: $indent;
    }
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid $social-media-color;
  color: $social-media-color;
  @include transition(color, border-color);
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.customer__icon {
  fill: currentColor;
}
