.work {
  padding-bottom: 94px;
  text-align: center;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work__list {
  @extend %grid;
  .img-wrapper {
    position: relative;
  }
}

.work__item {
  @include widthItem(3);
  &:not(:last-child) {
    margin-right: $indent;
  }
}

.work__description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-logo-color;
  background-color: $description-bg-color;
}
