html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-weight: normal;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.14;
}
